.content{
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
.author{
	font-weight:lighter;
	font-size: 18px;
	font-style: oblique;
}

.link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 8em;
  line-height: 1;
  color: #9e9ba4;
  display: inline-block;
}    
.link--kukuri {
  text-transform: uppercase;
  font-weight: 900;
  overflow: hidden;
  line-height: 0.75;
  color: #b2b0a9;
}
 
.link--kukuri:hover {
  color: #b2b0a9;
}
 
.link--kukuri::after {
  content: '';
  position: absolute;gi
  height: 16px;
  width: 100%;
  top: 50%;
  margin-top: -8px;
  right: 0;
  background: #F9F9F9;
  transform: translate3d(-100%,0,0);
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
 
.link--kukuri:hover::after {
  transform: translate3d(100%,0,0);
}
 
.link--kukuri::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: #424242;
  white-space: nowrap;
  width: 0%;
  transition: width 0.4s 0.3s;
}
 
.link--kukuri:hover::before {
  width: 100%;
}  

.des{
  width: 100%;
}

.YSF-BTN-HOLDER{
  position: fixed;
  max-width: 300px;
  max-height: 300px;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
  overflow: visible;
  filter: alpha(opacity=100);
  opacity: 1;
  z-index: 99900;
}
.YSF-CUSTOM-ENTRY-0{
  position: relative;
  bottom: 0px;
  width: auto;
  background-color: none;
  box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.25);
}


